.header_area{background: antiquewhite;
    min-height: 98px;}
.logo{margin-top: 32px;
    font-family: fantasy;}
.logo h1{}
/*.mainmenu_area {float: right;}*/
/*.mainmenu_area ul#nav {float: left;*/
    /*list-style: outside none none;*/
    /*margin: 0;*/
    /*min-height: 60px;*/
    /*padding: 0;}*/
/*.mainmenu_area ul#nav li{float: left;*/
    /*position: relative;}*/
/*.mainmenu_area ul#nav li a{*/
    /*color: #666666;*/
    /*display: block;*/
    /*font-family: "Roboto Condensed",sans-serif;*/
    /*font-size: 15px;*/
    /*font-weight: 700;*/
    /*padding: 43px 11px;*/
    /*text-transform: uppercase;*/
/*}*/
/*.mainmenu_area ul#nav li a:hover{*/
    /*color:green;*/
    /*text-decoration:none*/

/*}*/

.top_menu_area{margin-top: 3px;}
#top_nav{}
.navbar-nav{}
.nav-item{    padding: 16px 23px;}
.nav-link{    list-style: none;
    color: brown;
    font-family: fantasy;
    text-transform: uppercase;
    font-size: 20px;
}
.nav-item dropdown{}
#navbardrop{background: antiquewhite;}
.dropdown-menu{}
.dropdown-item{    text-transform: uppercase;
    /* background: border-box; */
    color: bisque;
    font-family: fantasy;
    font-size: 20px;
}




.d_item_1{}





.carousel-inner img {
    width: 100%;

}
.slider_area{}
.slider_area img{    height: 374px;}
.welcome_area{    background: darkseagreen;
    height: 300px;}
.wc_text{        display: block;
    text-align: center;
    margin-top: 70px;
}
.wc_text h1{    font-family: fantasy;}
.wc_text p{    width: 97%;
    font-family: monospace;
    font-size: 17px;}

.featured_buy_area   { height: 640px;
background: chocolate ;margin-top: -20px;}
.fba_text{    margin-top: 0px;
    background: brown;
    height: 71px;}
.fba_text h1{    text-align: center;
    padding-top: 15px;
    font-family: fantasy;
    color: burlywood;}

.card{margin-top: 44px;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}
.card img{height: 219px;width: 100%}
.card-body{background: #222222;
    color: whitesmoke;}
.card-body h4{    text-align: center;
    font-size: 28px;
}
.card-body h5{    display: block;
    /* width: 107%; */
    text-align: center;
    font-size: 15px;
    /* margin-top: -4px; */
    padding-top: -15px;}
.card-body p{
    margin-left: 22px;
    padding-bottom: 21px;
    text-align: center;}
.card-body a{display: block}


.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.card:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.featured_sell_area   {height: 640px;
    background: cadetblue; margin-top: -20px;}
.fbs_text{        margin-top: 0px;
    background: cornflowerblue;
    height: 71px;}
.fbs_text h1{   text-align: center;
    padding-top: 15px;
    font-family: fantasy;
    color: aliceblue;}

.footer_area{    background: black;
    /*position: absolute;*/
    width: 100%;
    /* height: 100px; */
    bottom: 0;
    left: 0;}
.f_text{    text-align: center;
    color: white;
    font-family: auto;
}
.f_text h4{}

